/*articlebody layout*/
.grid-container {
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd hd hd hd"
    ". al mn mn mn mn mn mn mn mn mn ar ."
    "ft ft ft ft ft ft ft ft ft ft ft ft ft";
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-areas:
      "hd hd hd hd hd hd hd hd hd hd hd hd hd"
      "mn mn mn mn mn mn mn mn mn mn mn mn mn"
      "ft ft ft ft ft ft ft ft ft ft ft ft ft";
  }
}

.article-left {
  grid-area: al;
  margin: 56px;
}

.article-right {
  grid-area: ar;
  margin: 56px;
}

.article-wrapper {
  display: grid;
  row-gap: 16px;
  max-width: 800px;
}

.article-hd {
  padding: 0;
  margin: 0;
}

.article-hd-sub {
  padding: 0;
  margin: 0;
  font-size: 1.24em;
  color: gray;
}

.article-fig {
  max-width: 800px;
  max-height: 600px;
  margin: auto;
  overflow: hidden;
}

.article-fig > figcaption {
  text-align: center;
  padding: 8px 0 0 0;
}

.article-copy-wrapper {
  line-height: 1.8em;
  text-align: justify;
  text-justify: distribute;
}
