/* all style */

body {
    font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

.grid-container {
    /* border: 5px solid darkblue; */
    display: grid;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd hd hd hd"
        ". mn mn mn mn mn mn mn mn sb sb sb ."
        "ft ft ft ft ft ft ft ft ft ft ft ft ft";
    row-gap: 56px;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 72px auto 96px;
    width: fit-content;
    margin: auto;
    justify-content: space-between;
}

.grid-container > * {
    background-color: lightpink;
    padding: 8px;
}

.header {
    grid-area: hd;
    display: grid;
    grid-template-areas: 
        "left-logo . . . right-nav";
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-self: center;
}

.main {
    grid-area: mn;
    padding-right: 64px;
}

.sidebar {
    grid-area: sb;
}

.footer {
    grid-area: ft;
}  

@media (max-width: 1072px) {
    .main {
        padding-right: 32px;
    }
}

@media (max-width: 728px) {
    .grid-container {
        grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd hd hd hd"
        "sb sb sb sb sb sb sb sb sb sb sb sb sb"
        "mn mn mn mn mn mn mn mn mn mn mn mn mn"
        "ft ft ft ft ft ft ft ft ft ft ft ft ft";
        grid-template-rows: 72px auto auto 96px;
        row-gap: 28px;
    }


    .main {
        padding-right: 0px;
    }
}

/*nav style*/
.nav-logo {
    width: 120px;
    grid-area: left-logo;
}

.nav-wrapper {
    grid-area: right-nav;
}


/* main style */

.main {
    display: grid;
    max-width: 800px;
    
    
}

.main > * {
    border: 1px solid red;
}

.featured-image {
    max-width: 800px;
    max-height: 380px;
    overflow: hidden;
}

.avatar {
    width: 50px;
    border-radius: 100%;
}

img {
    max-width: 100%;
    height: auto;
}